body {
    height: 95vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    place-items: center;
    background-color:black;
}

.content {
    border: 3px white solid;
    width: 85%;
    height: 100%;
}



